@using GymTrack.ViewModels
@using Microsoft.AspNetCore.Identity;

@inject UserManager<GymUser> UserManager
@model StatsViewModel


<div class="secondheader">
    <h5>Statistics for @UserManager.GetUserName(User)</h5>
</div>

<div class="trainingContainer">
    @if(Model != null)
    {
    <div class="userStats">
        <div>Trainings: @Model.UserStats.TrainingsCount</div>
        <div>Sets: @Model.UserStats.SetsCount</div>
        <div>Reps: @Model.UserStats.RepsCount</div>
        <div>Total Weight: @Model.UserStats.TotalWeight</div>
    </div>
    }

    <div class="exerciseSelect">
        <label for="exerciseGroup">Select group</label>
        <select id="exerciseGroup">
            <option value="push" selected>Push</option>
            <option value="pull">Pull</option>
            <option value="legs">Legs</option>
        </select>
    </div>

    <div id="graphs" class="graphs-row">
        <div class="row">
            <div class="col-md-4"><canvas id="benchpress"></canvas></div>
            <div class="col-md-4"><canvas id="incline"></canvas></div>
            <div class="col-md-4"><canvas id="shoulderpress"></canvas></div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/js/stats-charts.js"></script>