@using GymTrack.ViewModels
@model TrainingViewModel

@{
    ViewBag.Title = "Add Training";
}

<div class="secondheader">
    <h2> Training for @Model.Date.ToShortDateString()</h2>
</div>




<div id="trainingContainer">
    <form id="exerciseForm" method="post" action="/Training/Create">
            @Html.Label("Category")
            <select id="categorySelect" onchange="updateExerciseOptions()">
                <option value=""> - - - select - - - </option>
                <option value="Push">Push</option>
                <option value="Pull">Pull</option>
                <option value="Legs">Legs</option>
            </select>

            @Html.Label("Exercise")
            <select id="exerciseSelect">
                <option value=""> - - - select - - - </option>
            </select>

            @Html.Label("Weight")
            <input type="number" id="weightInput" step="2.5"  />

            @Html.Label("Repetitions")
            <input type="number" id="repsInput"/>

            @Html.Label("Series")
            <input type="number" id="setsInput" />

            <button type="button" onclick="addExercise()">Add Exercise</button>

            <button type="submit">Save Training</button>
        </form>

        <div id="exerciseList">
        </div>


</div>


<script>
    const exercises = {
        "Push": ["Benchpress", "Shoulderpress", "Incline"],
        "Pull": ["Pullups", "SeaatedRow", "Biceps"],
        "Legs": ["Legpress", "Quads", "Calves"]
    };

    let exerciseIndex = 0;
    
    function updateExerciseOptions()
    {
        const category = document.getElementById("categorySelect").value;
        const exerciseSelect = document.getElementById("exerciseSelect");

        exerciseSelect.innerHTML = '<option value=""> - - - select - - - </option>';

        if(exercises[category]){
            exercises[category].forEach(name => {
                const option = document.createElement("option");
                option.value = name;
                option.text = name;
                exerciseSelect.appendChild(option);
            });

        }
    }

    function addExercise() {
    const name = document.getElementById("exerciseSelect").value;
    const weight = document.getElementById("weightInput").value;
    const reps = document.getElementById("repsInput").value;
    const sets = document.getElementById("setsInput").value;

    if(!name || !weight || !reps || !sets)
    {
        alert("Uzupelnij wszystkie pola");
        return;
    }
    
    const container = document.createElement("div");
    container.classList.add("exerciseList");
    container.dataset.exerciseIndex = exerciseIndex;    

    const text = document.createElement("span");
    text.innerText = `${name} - ${weight}kg x ${reps} powtorzen x ${sets} serii`;
    container.appendChild(text);

    const removeButton = document.createElement("button");
    removeButton.innerText = `Usun`;
    removeButton.style.marginLeft = "10px";
    removeButton.onclick = function() {
        document.querySelectorAll(`input[data-owner="${exerciseIndex}"`).forEach(input => input.remove());
        container.remove();
    }
    
    container.appendChild(removeButton);

    document.getElementById("exerciseList").appendChild(container);

    const fields = [
        { name: `Exercise[${exerciseIndex}].Name`, value: name },
        { name: `Exercise[${exerciseIndex}].Weight`, value: weight },
        { name: `Exercise[${exerciseIndex}].Reps`, value: reps },
        { name: `Exercise[${exerciseIndex}].Sets`, value: sets } 
    ];

    fields.forEach(field =>{
        const input = document.createElement("input");
        input.type = "hidden";
        input.name = field.name;
        input.value = field.value;
        input.setAttribute("data-owner", exerciseIndex);
        document.getElementById("exerciseForm").appendChild(input);
    });

    exerciseIndex++;

    // document.getElementById("nameInput").value = "";
    // document.getElementById("weightInput").value = "";
    // document.getElementById("repsInput").value = "";
    // document.getElementById("setsInput").value = "";
    }
</script>