@using GymTrack.Areas.Identity.Data
@using GymTrack.ViewModels
@using Microsoft.AspNetCore.Identity

@inject UserManager<GymUser> UserManager
@model StatsViewModel


<div class="secondheader">
    <h2>Data for @UserManager.GetUserName(User)</h2>
</div>

<div class="trainingContainer">
    @if(Model != null)
    {
    <div class="userStats">
        <div>Trainings: @Model.UserStats.TrainingsCount</div>
        <div>Sets: @Model.UserStats.SetsCount</div>
        <div>Reps: @Model.UserStats.RepsCount</div>
        <div>Total Weight: @Model.UserStats.TotalWeight</div>
    </div>
    }

    <div class="row">
        <div class="col-md-4"><canvas id="benchpress"></canvas></div>
        <div class="col-md-4"><canvas id="incline"></canvas></div>
        <div class="col-md-4"><canvas id="shoulderpress"></canvas></div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

</script>